<script lang="ts" setup>
import { ref } from "vue";
let feels = ref("Angry");
let immage = ref("../../feeling_imgs/angry.png");
const result = ref([
  {
    id: 0,
    text: "Angry",
    img: "../../feeling_imgs/angry.png",
  },
  {
    id: 1,
    text: "Cute",
    img: "../../feeling_imgs/cute.png",
  },
  {
    id: 2,
    text: "Excited",
    img: "../../feeling_imgs/excited.png",
  },
  {
    id: 3,
    text: "Pain",
    img: "../../feeling_imgs/pain.png",
  },
  {
    id: 4,
    text: "Shocked",
    img: "../../feeling_imgs/shocked.png",
  },
  {
    id: 5,
    text: "Smile",
    img: "../../feeling_imgs/smile.png",
    color: '',
  },
]);

function feel(id: number) {
  if (id == 0) {
    feels.value = result.value[0].text;
    immage.value = result.value[0].img;
  }
  if (id == 1) {
    feels.value = result.value[1].text;
    immage.value = result.value[1].img;
  }
  if (id == 2) {
    feels.value = result.value[2].text;
    immage.value = result.value[2].img;
  }
  if (id == 3) {
    feels.value = result.value[3].text;
    immage.value = result.value[3].img;
  }
  if (id == 4) {
    feels.value = result.value[4].text;
    immage.value = result.value[4].img;
  }
  if (id == 5) {
    feels.value = result.value[5].text;
    immage.value = result.value[5].img;
  }
result.value[5].color;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img :src="immage" width="80%"> </v-img>
      </v-col>
      <v-col>
        <h2 class="text-md-center">{{ feels }}</h2>
        <br />
        <v-btn block class="btnfunc" @click="feel(0)" :color="result[0].color"> Angry </v-btn>
        <br />
        <v-btn block class="btnfunc" @click="feel(1)" :color="result[1].color"> Cute </v-btn>
        <br />
        <v-btn block class="btnfunc" @click="feel(2)" :color="result[2].color"> Excited </v-btn>
        <br />
        <v-btn block class="btnfunc" @click="feel(3)" :color="result[3].color"> Pain </v-btn>
        <br />
        <v-btn block class="btnfunc" @click="feel(4)" :color="result[4].color"> Shocked </v-btn>
        <br />
        <v-btn block class="btnfunc" @click="feel(5)" :color="result[5].color"> Smile </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btnfunc:focus {
  background-color: yellow;
}
</style>
