<script setup lang="ts">

import FirstComponent from '@/components/FirstComponent.vue';
import  SecondComponentVue from '@/components/SecondComponent.vue';

</script>
<template>
<v-container>
    <v-row>
        <v-col cols="6">
            <FirstComponent/>
        </v-col>
        <v-col cols="6">
            <SecondComponentVue/>
        </v-col>
    </v-row>
</v-container>
</template>
