<script lang="ts" setup>
import { ref } from "vue";
let sum = ref(0);
const index:any = ref([]);
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
function add(item:any){
  index.value.push(item);
}
function cal (count:any){
  sum.value = count + sum.value;
}
</script>
<template>
<v-container fluid>
  <v-row>
    <v-col cols = "6">
      <v-container style="height: 80vh; overflow-y: auto">
        <v-row>
          <v-col v-for = "item in products" :key = "item.id" cols="4">
        <v-card style = "width: 150px;">
          <v-card-item>
            <div style = "text-align: center;">
              <div>{{ item.name }}</div>
              <div>{{ item.price}}</div>
              <v-btn style = "margin-bottom: 5px;" @click = "add(item), cal(item.price)" >Add</v-btn>
            </div>
          </v-card-item>

   
        </v-card>
      </v-col>
        </v-row>
        
      </v-container>

    </v-col>
    <v-col cols = "6">
          <v-table style="height: 80vh; overflow-y: auto">
            <thead class="text-left">    
              <tr>            
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>        
  
          </thead>
          <tr v-if = "index.length == 0">
          <td colspan="3"><h3 style = "text-align: center;">NO DATA</h3></td>
        </tr>
          <tbody>
            <tr v-for = "item in index" :key = "item">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>

          </v-table>
      <h1>SUM: {{ sum }}</h1></v-col>
  </v-row>
  
</v-container>
</template>
