<script lang="ts" setup>
import {ref, computed} from "vue";
const number: any = ref([0]);
const num = ref(0)
const viewNumber = computed(() => {
  number.value = [];
  if(num.value == 0 || !num.value){
    number.value = [];
    return number.value;
  }
  for(let i: number = 1; i <= num.value; i++){
    number.value.push(i);
  }
  return number.value;
})
</script>

<template>
  <v-container>
    <v-form>
    <v-text-field
      label = "Please input Number"
      required
      v-model = "num"
      :rules="[(v) => !!v || 'Number is not empty!!']"
    ></v-text-field>
  </v-form>
    <v-row>
      <v-col col="12" md="1" v-for="item in viewNumber" :key="item">{{ item }}</v-col>
    </v-row>
  </v-container>
</template>
