<script setup lang="ts">
import { useCounterStore } from '@/stores/counter';
const counterStore2 = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ counterStore2.doubleCount }}</div>
  <v-btn class="mt-5" @click = "counterStore2.decrement" >Decrement</v-btn>
</template>
